<<<<<<< HEAD
<div class="sections">
    <img src="<%= user.photo %>" alt="user photo"/>
    <div class="users">
        <h3><%= link_to user.name, user %></h3>
        <p> Number of posts: <%= user.posts_counter ? user.posts_counter : 0 %></p>
    </div>
</div>
=======
<article class="user">
    <img class="user-img" src="<%=user.photo%>", alt="post_image"/>
    <article class="user-info">
        <h2 class="user-name"><%= link_to (user.name), user%></h2> 
        <p class="post-count">Number of posts: <%=user.posts_counter%></p>
    </article>
</article>
>>>>>>> 9fcc4eacc1865e4fd24c87cda75c6a5f5125329f
