<section class="user-section">
<%= render @user %>
<article class="user-bio">
    <h3 class="user-bio-header">Bio</h3>
    <p class="user-bio-text"><%=@user.bio%></p>
</article>
<article>
<%@user.posts.each do |post| %>
    <%= render post %>
<%end%>
</article>

 <%= link_to "See all posts", user_posts_path(@user.id), class: "user-btn"%>
 <%= link_to "new", new_user_post_path(@user.id), class: 'post-btn' %> 
</section>