<%= form_with model: post, url: user_posts_path do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="post-form">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
      <%= form.label :text, style: "display: block" %>
      <%= form.text_area :text %>
      <%= form.submit%>
    </div>
<% end %>
