<div class="posts">
  <%= link_to user_post_path(post.author_id, post.id) do %>
    <h4><%=post.title%></h4>
  <% end %>
  <p><%=post.text%></p>
    <% if can? :destroy, post %>
      <%= button_to 'Delete post', user_post_path(post.author_id, post.id), method: :delete %>
    <% end %>
  <p>
    <span>
    <%= link_to "Comments:", new_user_post_comment_path(@user, post) %> <%= post.comments_counter ? post.comments_counter : 0 %>
    </span>
    <span>
      <%= form_with model: @like, url: user_post_likes_path(@user, post), method: :post, class: 'form' do |f|%>
        <%= f.submit "Add Like"%>
	      <%= post.likes_counter ? post.likes_counter : 0 %>
      <% end %>
    </span>
  </p>
</div>