<div class="posts">
    <div class="post_comments">
        <h4><%=@post.title%> by: <%=@post.author.name%></h4>
        <p>
            <span>Comments: <%= @post.comments_counter ? @post.comments_counter : 0 %>
            </span><span>Likes: <%= @post.likes_counter ? @post.likes_counter : 0 %></span>
        </p>
    </div>
    <p><%=@post.text%></p>
</div>

<div class="comments">
    <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
        <% if can? :destroy, comment %>
          <%= button_to 'Delete comment', user_post_comment_path(@user.id, @post.id, comment.id), method: :delete %>
        <% end %>
    <% end %>
</div>