<div class="post-ctn">
  <div class="post-info-ctn">
    <div class="post-info-head">
      <h3>Post <%=@post.id %> by <%= @user.name %></h3>
      <div class="post-right-info">
        <h5>Comment : x</h5>
        <h5>Likes : x</h5>
      </div>
    </div>

    <p><%= @post.text %></p>
  </div>
  <% @post.five_recent_comment.each do |comment| %>
    <div>
      <h6><%= comment.author.name %>: <%= comment.text %></h6>
    </div>
  <% end %>

</div>
